/* CSS for index.html */
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
    font-family: Lato, sans-serif;
    font-weight: normal;
    color: #585858;
}

.container-fluid {
    padding: 0;
}

h1 {
    font-size: 48px;
}

.slide {
    padding: 100px;
    margin: 0;
    height: 700px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

/* Transition arrow */
.arrow {
    position: absolute;
    left: 50%;
    font-size: 48px;
    bottom: 5%;
    margin-left: -24px;
    /* to account for half width of arrow */
}

#logo {
    width: 180px;
}

.slide1 {
    background: url('../img/bg_mushrooms.jpg');
}

.slide2 {
    background: url('../img/bg_onions.jpg');
}

.slide3 {
    background: url('../img/bg_limesnlemons.jpg');
}

.slide4 {
    text-align: center;
    background: url('../img/pineapple.jpg');
}

/* Search bar code */
.slide input {
    height: 60px;
    min-width: 200px !important;
    border-radius: 6px;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.slide button {
    height: 60px;
    width: 70px;
    border-radius: 6px;
    font-size: 24px;
    background-color: #47e077;
    color: #585858;
}

#looq:hover {
    background-color: #7ce047;
}