<div class="col-xs-12">
                   <main>
                        <div class="jumbotron text-center">
                           <h2>Check out our latest updates below</h2>
                           <br>
                           <!-- Carousel -->
                            <div id="carouselHome" class="carousel slide" data-ride="carousel">
                              <!-- Carousel indicators -->
                               <ol class="carousel-indicators">
                                   <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
                                   <li data-target="#carouselHome" data-slide-to="1"></li>
                                   <li data-target="#carouselHome" data-slide-to="2"></li>
                               </ol>
                               <!-- Carousel wrapper -->
                               <div class="carousel-inner" role="listbox">
                                   <div id="item1" class="item active">
                                       <img class="d-block img-fluid" src="http://lorempixel.com/800/500/food" alt="">
                                       <div class="carousel-caption">
                                           <h3>10% off Sale</h3>
                                           <p>Only for the next 2 weeks.</p>
                                       </div>
                                   </div>
                                   <div class="item">
                                       <img class="d-block img-fluid" src="http://lorempixel.com/800/500/food" alt="">
                                       <div class="carousel-caption">
                                           <h3>Organic green kale</h3>
                                           <p>Now in stock!</p>
                                       </div>
                                   </div>
                                   <div class="item">
                                       <img class="d-block img-fluid" src="http://lorempixel.com/800/500/food" alt="">
                                       <div class="carousel-caption">
                                           <h3>Save more on your groceries</h3>
                                           <p>Ask us about joining our membership.</p>
                                       </div>
                                   </div>
                               </div>
                               <!-- Carousel controls -->
                                <span class="left carousel-control" href="#carouselHome" role="button" data-slide="prev">
                                   <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                </span>
        
                               <span class="right carousel-control" href="#carouselHome" role="button" data-slide="next">
                                   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                               </span>
                            </div>
                        </div>
                   </main>
               </div>